[2015-11-23 16:32] btkelly opened #18 "Add license check reporter"

[2015-11-23 16:33] btkelly opened #19 "Add Android lint reporter"

[2015-11-23 16:33] btkelly opened #20 "Add ability to extend with custom reporters"

[2015-11-23 16:34] btkelly opened #21 "Add ability to enable/disable some reporters"

[2015-11-23 16:34] btkelly opened #22 "Add to README how to extend with custom reporters"

[2015-11-23 16:47] btkelly opened #23 "Integrate Github status API"

[2015-11-23 19:50] btkelly opened #26 "Break same PMD violations into multiple lines"
When a PMD violation is found with the same type in the same file it will group them. Either improve the formatting or split each line violation into it's own rule violation in the comment reporter.

<img width="711" alt="screen shot 2015-11-23 at 2 34 33 pm" src="https://cloud.githubusercontent.com/assets/826036/11347902/79f8f37a-91f1-11e5-8fc0-bf783370c78d.png">

[2015-11-23 21:51] btkelly opened #27 "Add check local task"
Add another Gradle task that will run all the checks and fail the build locally without trying to report. This is helpful for checking before creating a PR. Maybe a local HTML report of sorts?

[2015-11-24 14:29] btkelly opened #28 "Add markdown util to remove duplicate formatting code"

[2015-11-24 14:29] btkelly opened #29 "Refactor entire lib to use Java"

[2015-12-02 18:11] #29 closed, assigned to btkelly

[2015-12-02 18:12] #26 closed, assigned to nobody

[2015-12-03 16:30] btkelly opened #32 "Clean up duplicate code in tasks and reporters"

[2015-12-03 19:47] btkelly opened #34 "Change commenting to comment on a line"
Currently the comments are posted on the entire PR, update comments to be posted at the line in the diff they are on.

[2015-12-03 19:53] btkelly opened #35 "Have the Gnag log output colored text for errors vs debug"

[2015-12-03 22:11] btkelly opened #38 "Publish on Gradle plugin site"

[2015-12-03 22:18] #23 closed, assigned to btkelly

[2015-12-04 14:00] #27 closed, assigned to btkelly

[2015-12-04 14:00] #32 closed, assigned to btkelly

[2015-12-04 14:00] #35 closed, assigned to btkelly

[2015-12-04 14:28] btkelly opened #39 "Improve formatting of local HTML report"

[2016-01-13 20:59] stkent opened #42 "Add a "Contributing" section"
Possible inclusions:
- tasks to run to validate changes
- how to deploy locally and test features

[2016-01-13 22:21] stkent opened #43 "Add example java project"

[2016-01-15 16:06] btkelly opened #44 "Fix checkstyle reporter incorrectly failing builds"

[2016-01-15 18:33] #44 closed, assigned to btkelly

[2016-01-24 20:55] stkent opened #49 "Double reports?"
I recently [opened a PR](https://github.com/stkent/bugshaker-android/pull/56) and edited the description while the original Travis build was running. gnag commented on the PR twice:

<img width="787" alt="screen shot 2016-01-24 at 3 53 11 pm" src="https://cloud.githubusercontent.com/assets/6463980/12538857/d2b31878-c2b2-11e5-9c81-9a2cc0bd0a4f.png">

Not sure if Travis issue, or gnag issue...

[2016-01-27 14:31] btkelly commented on #49
I'm not sure. Did you check if two Travis builds were triggered? This could also happen if you have two different modules that run Gnag. Maybe we should think about how to handle that case, unsure.

[2016-01-27 15:35] stkent commented on #49
I tried checking Travis, didn't see an obvious second build. Maybe we could have Gnag report the Travis build number in comments, or include a link back to the Travis job? Could be configurable to be CI-system-agnostic, of course.

[2016-02-09 21:04] btkelly commented on #49
Hmm I'm going to close this for now as I'm thinking this was a travis issue. If it comes up again we can revisit.

[2016-02-09 21:04] #49 closed, assigned to nobody

[2016-02-09 21:48] stkent commented on #49
Good call!

![bitmoji](https://render.bitstrips.com/v2/cpanel/9669931-120874784_3-s1-v1.png?palette=1&width=246)

[2016-02-10 17:41] stkent commented on #28
"HTML util" now?

[2016-02-10 18:35] btkelly commented on #28
Suppose that makes sense

[2016-02-10 20:29] stkent commented on #34
We'll still need to support aggregated comments for local reports.

[2016-02-10 20:41] stkent commented on #22
Blocked until #20 is complete.

[2016-02-10 20:42] stkent commented on #28
Happy to pick this up when your big restructure is done.

[2016-02-11 15:03] #39 closed, assigned to stkent

[2016-02-11 15:28] btkelly opened #54 "Add violations to the example app to show a full Gnag report"
The example app should be able to show how the Gnag plugin will work to generate reports and thus must have code violations to actually report. For all reports that make sense for a standard Java app should have example violations.

[2016-02-11 15:38] #19 closed, assigned to stkent

[2016-02-11 16:37] #43 closed, assigned to btkelly

[2016-02-11 16:39] stkent commented on #28
@btkelly safe to pick this up?

[2016-02-11 16:40] btkelly commented on #28
Yup, go for it @stkent

[2016-02-11 16:40] stkent commented on #28
![trolloleopard](https://cloud.githubusercontent.com/assets/6463980/12982780/4d805534-d0b4-11e5-88cd-9c28d008caab.jpg)

[2016-02-11 22:19] stkent opened #59 "Fix PMD comment links when multiple violation types are reported for the same line"
See the image in the README:

![](https://cloud.githubusercontent.com/assets/826036/11042826/641378e2-86e7-11e5-90ff-555a7cafd78c.png)

Right now, I think that would produce a broken link in the comment.

[2016-02-12 14:46] btkelly opened #60 "Fix checkAndReport failure Github status"
There seems to be a regression in the checkAndReport task where the failure status is not being set correctly on a PR. A quick fix was to throw a `GradleException` to fail the build but a Github status of failure would be more appropriate. This was working at one point and would set the Gnag status on the Github PR to failure.

[2016-02-12 15:13] #28 closed, assigned to stkent

[2016-02-12 19:50] btkelly opened #62 "Fix major minor version error on on version 0.1.3"
There is an error when running version 0.1.3 which reports "unsupported major.minor version 52.0", needs to be resolved.

[2016-02-15 19:00] #54 closed, assigned to nobody

[2016-02-15 19:00] btkelly opened #65 "Add unit and functional tests in place of the example application"

[2016-03-09 02:35] stkent opened #67 "Reported violation with an invalid line number"
I just saw [a reported violation with an invalid line number](https://github.com/stkent/amplify/pull/98#issuecomment-194052539):

The class in question has 380 lines. We should probably just suppress the line field in the posted comment if it has value 0? Inviting discussion!

[2016-03-22 00:36] stkent opened #68 "abortOnError is mentioned in README text but not shown in example"
Is it replaced by the fail flag in the gnag closure?

[2016-03-22 00:43] stkent opened #69 "Markdown formatting applied to SCREAMING_SNAKE_CASE text?"
I saw a recent local report with this comment:

<img width="435" alt="screen shot 2016-03-21 at 8 40 17 pm" src="https://cloud.githubusercontent.com/assets/6463980/13938793/7f02b830-efa5-11e5-8ac0-1e23e9e895b2.png">

The violation is of type [URF_UNREAD_FIELD](http://findbugs.sourceforge.net/bugDescriptions.html#URF_UNREAD_FIELD). It appears that the underscores in this string are being interprete

[2016-05-01 12:14] #21 closed, assigned to nobody

[2016-05-01 12:14] #59 closed, assigned to nobody

[2016-05-01 12:14] #62 closed, assigned to btkelly

[2016-05-01 12:14] #65 closed, assigned to btkelly

[2016-05-02 13:52] #69 closed, assigned to nobody

[2016-05-02 13:55] stkent commented on #69
Closed because all formatting is via html now?

[2016-05-02 13:56] btkelly commented on #69
I guess, I couldn't reproduce the issue.

[2016-05-02 13:56] stkent commented on #69
Well if there's no markdown processing left, this definitely can't happen ;)

[2016-05-18 15:40] btkelly commented on #68
Closing this as it's not really applicable since the v1 release

[2016-05-18 15:40] #68 closed, assigned to nobody

[2016-05-18 15:43] btkelly commented on #60
This is still an issue, I'm thinking it's related to the user token when running on Travis. Mainly because when testing from my local machine everything works as expected. I would like to look a bit more into the GitHub status API. I'm thinking this might need to be a service that a repo adds in the services section like Travis itself. I'm hoping this would allow the removal of the need for a toke

[2016-05-18 15:44] btkelly commented on #22
Going to close this for now as we have gone in the direction of limiting to a set number of reporters.

[2016-05-18 15:44] #22 closed, assigned to nobody

[2016-05-18 15:44] btkelly commented on #20
Going to close this for now as we have gone in the direction of limiting to a set number of reporters.

[2016-05-18 15:44] #20 closed, assigned to nobody

[2016-05-18 15:45] btkelly commented on #18
I've liked the direction of having the license check run automatically on my projects which negates the need for a reporter because it cannot fail.

[2016-05-18 15:45] #18 closed, assigned to nobody

[2016-05-19 13:41] macklinu commented on #34
This looks like the relevant GitHub API endpoint for commenting on a PR line: https://developer.github.com/v3/pulls/comments/#create-a-comment

[2016-05-19 23:31] stkent commented on #34
I might take a stab at this soon. For reference:
- https://en.wikipedia.org/wiki/Diff_utility#Unified_format
- https://github.com/thombergs/diffparser

[2016-05-19 23:32] stkent commented on #34
Example response for [amplify PR 154](https://github.com/stkent/amplify/pull/154):

[code]

[2016-05-26 15:19] stkent opened #74 "Parse and linkify URLs in Android lint comments"
Example comment for an AllowBackup violation:

The URL is not linkified in reports. It could be!

[2016-05-26 15:19] stkent opened #75 "Format code in Android lint comments"
Example comment for an AllowBackup violation:

The backticked code is not formatted using `pre` tags in reports. It could be!

[2016-05-26 15:20] btkelly commented on #74
Interesting, I didn't know links were included in the linter comments. Good find.

[2016-05-26 15:59] stkent commented on #74
May be useful: http://stackoverflow.com/questions/285619/how-to-detect-the-presence-of-url-in-a-string

[2016-05-27 15:00] stkent commented on #74
http://www.question-defense.com/2010/02/12/include-underscores-while-using-markdown-without-them-being-bold-or-italic-indicators-for-text

[2016-05-27 15:00] stkent commented on #75
http://www.question-defense.com/2010/02/12/include-underscores-while-using-markdown-without-them-being-bold-or-italic-indicators-for-text

[2016-05-27 16:03] stkent opened #80 "Fix logged path to local report file"
Expected output:

[code]

Actual output:

[code]

[2016-05-27 16:05] stkent opened #81 "Update buildAndRunExample script so that example only runs if build and install succeed"

[2016-06-01 13:41] #80 closed, assigned to stkent

[2016-06-01 14:44] #81 closed, assigned to stkent

[2016-06-01 19:34] #34 closed, assigned to stkent

[2016-06-01 19:34] #67 closed, assigned to stkent

[2016-06-01 19:51] stkent opened #85 "Be more intelligent about avoiding double-posted comments"
See https://github.com/btkelly/gnag/pull/82#issuecomment-222986082

Possibilities we've talked about:
- tagging all Gnag comments, and using this tag to identify and delete previous comments as part of the report task;

[2016-06-02 13:35] stkent opened #86 "Update PMD"

[2016-06-02 13:35] stkent opened #87 "Update Checkstyle"

[2016-06-07 02:10] stkent opened #88 "Report tested commit sha when reporting success to GitHub"
Coveralls does this, and it's helpful for figuring out which status comment corresponds to which commit. Message could read something like:

Sample showing Coveralls comments:

<img width="773" alt="screen shot 2016-06-06 at 10 08 27 pm" src="https://cloud.githubusercontent.com/assets/6463980/15843828/25bd81fe-2c33-11e6-903a-b20fe9f12a8f.png">

[2016-06-20 16:05] #86 closed, assigned to nobody

[2016-06-20 16:05] #87 closed, assigned to nobody

[2016-06-23 21:15] stkent opened #93 "Exception while parsing Android lint output"
**Gnag version:** 1.1
**Gnag configuration:**

[code]

**Stack trace** (recorded output when running `./gradlew clean gnagCheck`):

[code]

**Lint output** (check the errors of type `InvalidPackage`; they are missing line/column numbers):

[code]

[2016-06-23 21:21] stkent opened #94 "Exception if no custom PMD rulesConfig is defined"
**Gnag version:** 1.1
**Gnag configuration:**

[code]

**Java info:**

[code]

**Output of `./gradlew clean gnagCheck --stacktrace`:**

[code]

[2016-06-23 21:33] stkent commented on #93
This is a logged exception that probably doesn't need to be shown to end users in its entirety.

Currently, we attempt to parse a line number that may or may not be present. If it is, parsing (should) succeed. If it is not, parsing is expected to fail. Printing an "error" message and showing the full stack trace to end users is alarmist!

[2016-06-23 21:45] stkent commented on #93
@btkelly how do you feel about replacing

[code]

with something like

[code]

[2016-06-23 21:46] stkent commented on #93
That parsing logic could then be pulled into a `default` method pretty easily.

[2016-06-23 22:08] stkent opened #95 "Be more careful about building relative file location from detector output"
The typical issue generated by the Android linter has the following structure:

[code]

When attempting to generate a file path relative to the source folder `/Users/stuart/dev/personal/libraries/bugshaker-android/`, we currently (Gnag 1.1) use the following code in the `AndroidLintViolationDetector` class:

[code]

However, it is possible for the linter to report violations at completely differen

[2016-06-24 14:10] #95 closed, assigned to stkent

[2016-06-24 14:36] #93 closed, assigned to stkent

[2016-06-24 17:03] stkent commented on #94
[Appears relevant](https://discuss.gradle.org/t/how-can-i-read-setup-resources-from-plugin-jar/13274) (my emphasis):

[2016-06-24 17:08] stkent commented on #94
Ok, yep, that is the issue. Reproduced in the example project by removing the entire `pmd` configuration block. Working on a fix now.

[2016-06-24 17:59] stkent commented on #94
This is ugly and not dry, just dumping for reference: replacing

[code]

with

[code]

worked on my machine. Not sure how robust it is though...

[2016-06-24 22:10] stkent opened #98 "[1.1] Findbugs violation detector not mapping URF_UNREAD_PUBLIC_OR_PROTECTED_FIELD violations to correct location?"

[2016-06-25 13:18] stkent commented on #98
The following `BugInstance`:

[code]

corresponds to an unread field `emailAddress` declared at line 24 of `LoginActivity.java` and assigned at line 29 of the Butterknife-generated class `LoginActivity$$ViewBinder.java`. Ideally, we would parse the location of this `BugInstance` as: line 24 of `LoginActivity.java`. However, I don't see how this is possible using the given data and structure.

[2016-06-25 13:37] stkent commented on #98
I'm going to post this for discussion on the FindBugs issue tracker and see what info it turns up.

[2016-06-25 14:10] stkent commented on #98
See issue posted [here](https://sourceforge.net/p/findbugs/bugs/1457/). For now, I'm inclined to call this issue 'blocked' as far as Gnag is concerned.

[2016-06-27 15:12] stkent opened #100 "Do not write local report if no violations were detected"

[2016-06-27 15:13] stkent opened #101 "Explicitly report gnag check status in command-line output on success."
We can probably improve the formatting of gnag status output on the command-line as a whole.

[2016-06-27 15:35] stkent opened #102 "Add note about configuring the Android linter"
Since the linter is not wrapped by Gnag (unlike the other violation detectors), all configuration of Android lint rules must be done using the built-in mechanisms within the `android { lintOptions { ... } }` closure. We should call this out explicitly since it's different from the other three detectors.

[2016-06-27 18:40] #88 closed, assigned to nobody

[2016-06-28 15:35] stkent opened #103 "Interrupting CI build prevents Gnag status from ever resolving?"
### Probable steps to reproduce
1. Start CI build that includes Gnag. Gnag posts in progress status to GitHub PR.
2. Cancel CI build (not sure how specific the timing of this step needs to be).

**Expected**: Gnag posts some sort of resolved status to GitHub PR.
**Actual**: Gnag check status remains in progress indefinitely.
### Notes

Starting/completing a new CI build in which Gnag goes through

[2016-07-01 23:10] stkent opened #109 "Investigate what happens if Android lint is run with absolutePaths set to false"
I'm not sure whether Gnag would be able to compute violation line numbers if a project's lint configuration set [`absolutePaths`](https://google.github.io/android-gradle-dsl/current/com.android.build.gradle.internal.dsl.LintOptions.html#com.android.build.gradle.internal.dsl.LintOptions:absolutePaths) to true. We should investigate this and report back here.

[2016-07-03 00:59] stkent opened #110 "Improve log output when violation detector creation fails due to invalid config"
Example:

[code]

[2016-07-03 23:47] stkent commented on #103
After offline discussion, I think we decided this was probably not something we can fix? Killing the CI build likely prevents gnag from resolving the initially-posted pending status to GitHub, and if the CI job is not run again with HEAD of the PR pointing to the same commit, newly-posted resolved statuses (whether failure or success) do not seem to overwrite the dangling pending status.

[2016-07-03 23:53] stkent commented on #110
This would probably involve wrapping calls to `Task.perform` with an `Exception` catching block, then just re-throwing the `Exception` with a more descriptive wrapper. Could be a gamble though, not sure what other reasons a Gradle task may find to fail. Thoughts on whether this should be implemented?

[2016-07-04 03:48] stkent opened #113 "Handle multiple URLs associated with a violation"
As of 1.2.1, we handle 0 or 1 URLs gracefully. We should update to handle any number of URLs.

Examples from Android lint:

**0 URLs**

[code]

**1 URL**

[code]

**2 URLs**

[code]

[2016-07-05 14:39] stkent opened #114 "Gnag comments with incorrect PR SHA if 1+ new commits were added between build starting and Gnag reporting"
![screen shot 2016-07-05 at 10 36 15 am](https://cloud.githubusercontent.com/assets/6463980/16588290/7238a368-429c-11e6-8fc6-43e4d3ddef63.png)

**Expected**: comments reported as applying to SHAs 3623c3b then 005ef31.
**Actual**: comments reported as applying to SHA 005ef31 both times.

An improved solution would be to pull the PR HEAD SHA ASAP in the Gnag build. May also be possible to capture a

[2016-07-06 15:27] #74 closed, assigned to stkent

[2016-07-06 20:11] #100 closed, assigned to stkent

[2016-07-06 23:10] stkent commented on #101
Was closed by https://github.com/btkelly/gnag/pull/111

[2016-07-06 23:10] #101 closed, assigned to stkent

[2016-07-06 23:11] stkent commented on #75
Was closed by https://github.com/btkelly/gnag/pull/112

[2016-07-06 23:11] #75 closed, assigned to stkent

[2016-07-07 20:57] dpoggi commented on #98
@stkent It looks like Gnag is triggering FindBugs to generate the deprecated `findbugs.xml` format. Confusingly, the newer format is `findbugsXml.xml` - I don't know how to set the option from the command-line, but I've configured it with Maven. It's possible the newer format has a cleaner way of representing this.

[2016-07-07 22:21] stkent commented on #98
@dpoggi thanks! Do you have a reference on the `findbugs.xml` format being deprecated? We are currently setting `output` to `xml:withMessages`, but I don't see any indication on [this page](http://findbugs.sourceforge.net/manual/anttask.html#d0e1367) that another (newer) format is preferred.

[2016-07-07 22:22] stkent commented on #98
(Also we're manually naming that file, it's not a built-in).

[2016-07-11 02:51] stkent opened #116 "Tweak violation location representation in comments"
## With known line number

Before:

After:

## Without known line number

Before:

After:

[2016-07-11 14:42] #113 closed, assigned to stkent

[2016-07-11 15:01] #116 closed, assigned to stkent

[2016-07-11 19:36] btkelly commented on #60
Currently working on a companion website to allow users to give Gnag access to their repos which would allow status posting. I'll post status updates here as it progresses.

[2016-07-11 21:03] stkent opened #118 "Update css file to match new GitHub font"
Hopefully this library will be updated soon: https://github.com/sindresorhus/github-markdown-css

[2016-07-11 22:31] stkent commented on #60
![bitmoji](https://render.bitstrips.com/v2/cpanel/10117671-120874784_5-s1-v1.png?palette=1&width=246)

[2016-07-12 00:01] stkent commented on #118
See https://github.com/sindresorhus/github-markdown-css/issues/30

[2016-07-16 12:51] stkent opened #121 "Check out error-prone"
https://github.com/google/error-prone

[2016-08-04 08:19] #103 closed, assigned to nobody

[2016-08-24 17:24] #42 closed, assigned to stkent

[2016-08-24 18:47] #118 closed, assigned to stkent

[2016-10-13 17:00] btkelly opened #123 "Gnag tasks should take build variant into account"
Currently there are two Gnag tasks, `gnagCheck` and `gnagReport`. Both of these tasks should be generated for each combination of [product flavor](https://developer.android.com/studio/build/build-variants.html#product-flavors) and [build type](https://developer.android.com/studio/build/build-variants.html#build-types).

This would allow a consumer to only run the Gnag check / report on certain one

[2016-10-15 14:54] stkent commented on #123
Maybe this is controversial, but: should the `gnag` tasks maybe depend on `lint` tasks rather than the `check` task? It's not obvious to me that we should be coupling static code analysis with running the test suite.

[2016-10-15 14:56] stkent commented on #123
The `check` task is also not separable by build variant, whereas the `lint` tasks are:

[code]

[code]

[2016-10-15 15:02] stkent opened #125 "Add pronunciation guide to the README"
Some people think this should be pronounced g-nag. We should add a pronunciation guide to the README!

[2016-10-15 21:37] stkent commented on #123
Here's some reference code that might be helpful:

https://github.com/x2on/gradle-hockeyapp-plugin/blob/master/src/main/groovy/de/felixschulze/gradle/HockeyAppPlugin.groovy#L52-L74

Obviously we would need to update the README to indicate that the gnag plugin must be applied _after_ the Android plugin.

[2016-10-15 21:39] stkent commented on #123
Also interesting to note:

[code]

Does this imply that `check` only runs unit test tasks, not connected device test tasks? 🤔

[2016-10-16 00:26] stkent commented on #123
Taking a poke at this now.

[2016-10-16 02:07] stkent commented on #123
See #126.

[2016-11-01 16:08] antrromet opened #128 "Add support for corp repos"
Can you add support for repos that are hosted on a corp account?

[2016-11-01 17:10] btkelly commented on #128
This should be supported as of now. You just need to provide an `authToken` from an account that has read / write access to the repo in question.

We are also in the process of creating a Gnag Github Application that would allow you to give the application access to the corporate account in question without the need for an auth token from a different account. We will post links and update the READ

[2016-11-02 13:57] antrromet commented on #128
@btkelly But the repo, that I'm trying to integrate gnag in, exists only on our corp account. So in the gnag github configuration I give the `repoName` as `ABCMobile/ABCAndroid` and this particular repo exists only on `git.corp.ABC.com`. It doesn't exist on `github.com`.

[2016-11-02 14:14] btkelly commented on #128
@antrromet Ah, alright I didn't understand at first. So this is a Github Enterprise account? Would the ability to change the GitHub root URL do the trick?

[2016-11-02 14:24] antrromet commented on #128
Yes that'd work! So in that case, the gnag github configuration would look something like

[code]

[2016-11-02 18:33] #128 closed, assigned to btkelly

[2016-11-02 18:37] btkelly commented on #128
@antrromet version 1.2.2 has been deployed and should have what you need to support corporate accounts. Check the updated README for implementation details. Let me know how it works out, I don't have access to a corporate account so I'm curious.

[2016-11-02 19:11] antrromet commented on #128
So I upgraded gnag version to `1.2.2`. And my github config looks like this

[code]

and I ran the command
`./gradlew clean gnagReport -PissueNumber=123 -PauthToken=xxxxx`

But it didn't report anything on the pr. Is there anything I can debug this to identify whats going wrong? The auth key has all the access so that should not be the problem. Anything I might wanna change or try?

[2016-11-02 19:40] btkelly commented on #128
Are you sure that the issueNumber matches the PR number you are expecting it to post to? For instance `https://github.com/btkelly/gnag/pull/130` is number `130`.

[2016-11-02 19:44] btkelly commented on #128
I'm wondering if it's because you have left off the `/repos/`part of the URL. I should probably update the code and not have that be part of the `rootUrl`. In the meantime, try setting your `rootUrl` to `https://git.corp.ABC.com/repos/`.

[2016-11-03 13:22] antrromet commented on #128
The PR number is correct. And regarding the url I tried botht he following but in vain.
- https://git.corp.ABC.com/repos/
- https://git.corp.ABC.com/api/v3/repos/

Any other suggestions?
And I also double checked my auth key for permissions and its correct.

[2016-11-03 13:25] antrromet commented on #128
Another thing to note is, earlier when I had missed the `/repos` part, there were logs printed in the console where I ran the gradle task. The logs were `Unknown Host exception`. But now with the above 2 urls I don't see that logs. So I assumed, that its hitting the right url but am not sure whats going wrong.

[2016-11-08 04:00] stkent opened #131 "Describe how to apply Gnag to multiple Gradle subprojects"

[2016-11-08 15:19] stkent commented on #131
I just did this on an internal project and it wasn't too bad; the only weird thing was Checkstyle configuration breaking in an obscure fashion because the path to my suppressions file was no longer accurate. Related: may be worth adding a troubleshooting section to help with obscure errors such as that one (describe a systematic way to resolve them).

[2016-11-08 15:21] stkent opened #132 "When posting aggregated comment, group issues by reported, sort issues by file name, then sort issues by line number."
Currently, line numbers are not reported in order which is confusing to read:

<img width="683" alt="screen shot 2016-11-08 at 8 43 11 am" src="https://cloud.githubusercontent.com/assets/6463980/20104695/f182e594-a59c-11e6-93fd-da0800d15b67.png">

[2016-11-09 04:21] stkent opened #134 "Fix GitHub capitalization in repo description"
should become (emphasis for clarity only):

[2016-11-09 04:21] stkent commented on #134
@btkelly only you can handle this one!

[2016-11-09 15:57] #132 closed, assigned to stkent

[2016-11-10 01:08] stkent opened #135 "[1.2.2] Avoid duplicate GitHub comments when running report task on multiple submodules"
I have a Gradle project with `app`, `shared` and `wearable` subprojects. I apply the Gnag plugin to each subproject and run the following Gradle tasks during CI builds:

[code]

This results in three comments on the GitHub repository:

<img width="775" alt="screen shot 2016-11-09 at 8 04 32 pm" src="https://cloud.githubusercontent.com/assets/6463980/20160819/e16dd580-a6b7-11e6-99e1-76551031d7a7.pn

[2016-11-11 16:38] #125 closed, assigned to stkent

[2016-11-29 19:10] #134 closed, assigned to btkelly

[2016-11-29 19:10] btkelly commented on #134
Only took 21 days!

[2016-11-29 19:27] #135 closed, assigned to stkent

[2016-11-29 19:30] stkent commented on #134
![bitmoji](https://render.bitstrips.com/v2/cpanel/10079860-120874784_10-s1-v1.png?transparent=1&width=246)

[2017-01-10 15:33] amatkivskiy opened #140 "gnagReport task doesn't fail build when issue found"
Hi guys,
Thanks for such a cool plugin. It is awesome. 👍
Recently I found that `gnagReport` task doesn't fail when code issues are found.

**Environment:**
I have project with android library module and app module that uses it.
When I am building the whole project I want to perform gnag check for a library module and then  build the whole projects with all modules.

Everything works as expected wh

[2017-01-10 15:43] btkelly commented on #140
This is actually on purpose. The build does not fail during compilation as it is unaware if there are other modules that need to be checked as well as needing to report all violations to GitHub. The plugin will collect all violations detected and use the [GitHub Status API](https://developer.github.com/v3/repos/statuses/) to report a failing status on each module in the PR. To enforce the Gnag sta

[2017-01-10 17:55] stkent commented on #140
Yeah, Bryan nailed it. Perhaps we could add this clarification to the task docs or README so it's more visible? I agree it can be surprising when you first run into it.

[2017-01-11 09:39] amatkivskiy commented on #140
Thanks @btkelly for explanation. Then it will be nice to have some kind of interceptor for the `gnagReport` task.
For example:
Before the task started we can trigger a pending status for the github commit and after its successful run depending on the check trigger failure or success statuses.

[2017-01-16 11:32] amatkivskiy commented on #140
@btkelly Thanks for clarification 👍

[2017-01-16 11:32] #140 closed, assigned to nobody

[2017-01-17 04:28] amatkivskiy opened #141 "No gnag comments in PR after it was created"
Hi Guys,

Found that gnag won't post status check comments for the first commit in the branch (before PR being created). For this case gnag will run `gnagCheck` task as it is not in PR context.
But I discovered that Github API allows to post single commit comments and statuses which later will be show as comments in PR.

So it will be nice to have task like
[code]
 which will report statuses and r

[2017-01-17 08:12] amatkivskiy opened #142 "Fail gnagReport task if provided Github info is incorrect"
Hi,

It will be very useful if `gnagReport` task fails ASAP when wrong Github info is provided (token, issue number etc.)

Spent some time to fix wrong permissions on Github token because `gnagReport` task doesn't fail when wrong token was provided. Unfortunately `gnagReport` task doesn't really help to track such situations.

I create PR with this fix if you guys don't mind about this.

[2017-01-17 14:47] btkelly commented on #141
I'm not quite sure I follow. Can you explain a scenario where you would need to run `gnagReport` before creating a PR? And what do you mean "For this case gnag will run `gnagCheck`"? What script and / or CI system are you using to run your builds?

[2017-01-17 14:49] btkelly commented on #142
That's a good catch, more debugging info in the logs and a failure around GitHub communication for the `gnagReport` task would be a nice addition. If you want to create a PR with this change feel free, if not we can add this to our backlog of issues to work on.

[2017-01-18 05:26] amatkivskiy commented on #141
Sorry for confusion. 😞

First of all, on the project where I use gnag I configured `gnag` status check as required for PR.

Usually I have the following flow:
1. I create local branch.
2. Commit all the required stuff locally.
3. Push this local branch to remote.
4. Create PR with changes that I made.

For such situations `gnag` doesn't post status checks to the target PR till you make the first c

[2017-01-23 14:42] btkelly commented on #141
This sounds like an interesting use case that I would expect to be quite rare. I would think you would run `gnagCheck` locally on a commit to make sure you are not violating any of the Gnag rules and once good you would commit and make a PR. In that case it would check and report on the PR when someone else is looking to merge. My normal flow, which works with Gnag, is to push to a feature branch

[2017-01-23 15:09] amatkivskiy commented on #141
Maybe we are talking about different scenarios.

Let me describe of the scenario that is happening:
1. Create local branch.
2. Commit couple commits.
3. Push the local branch to remote.
4. CI triggers build of this branch (which means executing `gnagCheck`).
5. Create a PR containing changes in your branch. (Unfortunately build triggered in the previous step knows nothing about this PR).
6. CI bui

[2017-01-23 16:44] stkent commented on #141
Ah, so it sounds like this is because your CI setup only builds on push, not on new PR?

[2017-01-23 17:57] amatkivskiy commented on #141
@stkent I am using Circle CI.
Seems Circle CI builds every commit and then when PR is created github takes the status of the latest commit in it.

[2017-01-23 19:31] stkent commented on #141
Is the main repo private and the pull request source a fork of that repository? In that case Circle CI does not build PRs by default:

https://circleci.com/docs/fork-pr-builds/

[2017-01-24 10:45] amatkivskiy commented on #141
@stkent No, I am not using forks of the repository but instead commit directly to target private repository. But thanks for pointing the right direction of the possible issue.

Found this option in Circle CI config:

**Only build pull requests**

I will turn on it and test how it will work for the project.

[2017-01-24 15:41] amatkivskiy commented on #141
Yeah, now gnag works as expected with **Only build pull requests** turned on.

[2017-01-24 15:41] #141 closed, assigned to nobody

[2017-01-24 15:41] btkelly commented on #141
Awesome! Glad to hear it worked out for you @amatkivskiy

[2017-01-29 03:05] stkent commented on #94
Relevant:

http://stackoverflow.com/questions/20389255/reading-a-resource-file-from-within-jar

[2017-01-29 03:07] stkent commented on #94
Maybe relevant:

https://docs.oracle.com/javase/7/docs/api/java/io/File.html#createTempFile(java.lang.String,%20java.lang.String,%20java.io.File)

[2017-01-30 14:44] #94 closed, assigned to nobody

[2017-01-30 15:13] #142 closed, assigned to nobody

[2017-01-30 15:21] btkelly commented on #110
I would vote against wrapping the execution and just let the standard exception behaviour handle it. I think it would be very difficult to make the output more useful in all possible scenarios.

[2017-01-30 15:21] #110 closed, assigned to nobody

[2017-02-07 10:38] haarts opened #145 "Use on a non Android project?"
I have a Java project which would benefit from some automatic checking. I've tried using gnag but ran into (obvious) issues. Is it feasible to use gnag on a regular Java (Spring) project?

[2017-02-07 14:27] btkelly commented on #145
Gnag is focused on Android but I don't think it would take much to make it work on a plain old Java project. Can you tell me what issues you ran into when attempting to use it on a Spring project? Also any Gradle build log would be helpful with the errors.

[2017-02-07 15:09] haarts commented on #145
Most certainly. Just running `/gradlew clean gnagCheck` yields:

[code]

The output of `./gradlew clean gnagCheck --stacktrace --debug` is rather larger, therefor on Sprunge:
stdout: http://sprunge.us/MhSG
stderr: http://sprunge.us/FBIa

[2017-02-07 15:31] btkelly commented on #145
Thanks @haarts, I will poke around and see if this is an easy fix to allow Gnag to work with most Java applications.

[2017-02-07 21:03] #145 closed, assigned to btkelly

[2017-02-07 21:06] btkelly opened #147 "Update documentation to indicate Java / Android"
Gnag has now been updated to work with Android as well as plain Java projects and the documentation should be updated to indicate this.

[2017-02-08 03:35] stkent commented on #147
plus website if that is still a thing.

[2017-02-09 14:30] #147 closed, assigned to nobody

[2017-02-10 15:14] btkelly commented on #60
Unfortunately we have discovered that OAuth applications on GitHub are not allowed to post comments. This is currently a limitation of the GitHub API and unless it is changed by them it wont be possible. The website http://gnag.watch is up and can be used as a helper to get started using Gnag and explains how to add encrypted variables to your Travis config. Closing this issue for now.

[2017-02-10 15:14] #60 closed, assigned to btkelly

[2017-02-13 17:14] #38 closed, assigned to btkelly

[2017-02-14 21:26] Andrewpk opened #150 "Add GitLab support for updating merge requests"
After working on project with @stkent that utilized gnag, I'd really like to continue using it within our development org. After reviewing the gnag repo, it seems like supporting our internal GitLab server wouldn't be difficult.

This issue is a feature request, which if found acceptable, I would be happy to do the development for.
I had envisioned that this support would look very similar to the

[2017-02-15 21:06] btkelly commented on #150
Hmm, this would have to be a major structural change to the architecture of the plugin. I'm not opposed to changing Gnag to support multiple reporting systems but should probably be a larger discussion around GitHub abstraction before we can add GitLab.

[2017-03-03 14:51] btkelly opened #153 "Update Gnag plugin to work with the latest version of Android's SDK Tools"
With newer versions of Android's SDK Tools (discovered with v25.3.1) Gnag breaks when trying to locate the `lint` output file.

[2017-03-03 16:40] #153 closed, assigned to stkent

[2017-03-21 15:15] chelseybadau opened #156 "Gnag opens the Java app and doesn't close it"
It switches me to this Java window out of Android studio and doesn't close it! I haven't looked into it too much but it seems to happen when the log says `app:lint`. Not a major issue but kind of annoying, it should probably close Java when it's done!

[2017-03-21 16:56] btkelly commented on #156
That is annoying, I'm not sure why it doesn't close when finished. I'm guessing it's related to one of the executed reporters and the side tasks they execute. We'll have to look into this, thanks!

[2017-03-21 16:58] chelseybadau commented on #156
No, thank you!

[2017-04-13 13:09] haarts opened #157 "SuppressWarnings annotation"
Call me a fan of Gnag! But sometimes the warnings had a good reason being there. For example in my tests I use lots of 'magic numbers'. Very bad in production code, acceptable in tests (IMHO). Checkstyle is however adamant in complaining:

[code]

I was hoping to silence these warnings with an annotation on the test method like so:

[code]

I've cycled through several variants of the annotation bu

[2017-04-13 14:53] btkelly commented on #157
Glad you're a fan! Thanks for reporting this issue. In quickly glancing at [check style documentation](http://checkstyle.sourceforge.net/config_filters.html#SuppressionCommentFilter) the default check style configuration included with Gnag has this suppression config:

[code]
So something similar to this should work:
[code]
You can also use the annotation syntax you posted if you modify your check

[2017-04-13 15:09] stkent commented on #157
@btkelly is it possible for Gnag to support both suppression methods simultaneously? Just a thought.

[2017-04-13 15:16] btkelly commented on #157
@stkent that's a good idea, I'll run some tests when adding the new annotation style.

[2017-04-13 15:38] btkelly commented on #157
Unfortunately I found that the default check style config wont actually work for disabling comments. It is missing the `FileContentsHolder` module which is required for the comment suppression. You can resolve this by adding `<module name="FileContentsHolder" />` as a child of the `<module name="TreeWalker">`. This can be a temporary work around until the next release of Gnag.

[2017-04-13 19:17] #157 closed, assigned to btkelly

[2017-04-13 19:30] btkelly commented on #157
@haarts You should be able to update to Gnag 1.3.2 and the inline suppression should work. I've update the `example-android` project's [`ExampleUnitTest.java`](https://github.com/btkelly/gnag/blob/master/example-android/app/src/test/java/com/gnag/example/ExampleUnitTest.java) to show how each works for your exact use case. Let me know if you have any issues.

[2017-04-14 13:02] haarts commented on #157
It works! This is why OSS wil win. Many thanks.

[2017-05-15 16:41] johnjohndoe commented on #150
I am also interested in support for GitLab as well as Stash/Bitbucket.

[2017-05-28 16:23] stkent opened #161 "Add Kotlin support"
Now that Kotlin enjoys first-class support on Android, its usage is likely to increase significantly. Some static analysis tools already exist:

https://github.com/arturbosch/detekt

We should consider adding such tools to Gnag.

[2017-06-04 21:21] stkent commented on #161
https://github.com/shyiko/ktlint also looks interesting.

[2017-06-11 21:47] stkent opened #162 "Be smarter about gnag re-runs?"
e.g. by assigning explicit inputs/outputs so tasks can be marked as up-to-date; https://docs.gradle.org/3.5/userguide/build_cache.html

[2017-06-13 15:08] btkelly commented on #121
Error prone seems to be a custom compiler that will fail compilation if it finds any violations. I couldn't see a way to allow it to succeed and create a report of any violations for Gnag to consume. I'm going to close this issue because modifying error prone seems a bit out of scope for Gnag.

[2017-06-13 15:08] #121 closed, assigned to btkelly

[2017-06-16 14:12] ajsb85 opened #163 "Android Studio plugin"
Offers a fully-integrated user experience in Android Studio.

Examples:

- http://www.sonarlint.org/eclipse/
- http://www.sonarlint.org/intellij/

[2017-06-16 17:04] ajsb85 opened #164 "gnagReport FAILED: Reason: 401 Unauthorized"
[code]

[2017-06-16 18:17] btkelly commented on #164
That error usually indicates that the `authToken` you have supplied to Gnag does not have access to the repository you are attempting to use Gnag on. Have you made sure the user that was logged in to get the auth token has the correct permissions for that repo?

Also, could you rebuild the application with the `--stacktrace` flag and post the failure log of that?

Thanks

[2017-06-16 18:18] btkelly commented on #163
This is really cool! I would love to see a Gnag integration into Android Studio. I'll keep the issue open but I'm not sure I have the bandwidth for this at the moment. If anyone else would like to help with this it would be great.

[2017-06-16 18:19] ajsb85 commented on #164
I am running here the command:

https://travis-ci.org/flyve-mdm/flyve-mdm-android-inventory/builds/243771041

I updated the token and I am triying just now here:

https://github.com/flyve-mdm/flyve-mdm-android-inventory/pull/3

[2017-06-16 18:22] ajsb85 commented on #164
Already changed many times the token, I revoke and  re generate the token and the error persist

[2017-06-16 18:27] btkelly commented on #164
Ah, I see. Unfortunately Travis CI does not allow environment variable injection on pull requests that come from a forked repository which means the token is null at build time. You can read more about this here https://docs.travis-ci.com/user/pull-requests/ under the section **Pull Requests and Security Restrictions**. I would really like to find a way around this but I don't think there is witho

[2017-06-16 18:32] btkelly commented on #164
A private Jenkins instance or possibly other CI systems may allow you to inject values during PR builds. If you find an alternative system I would love to hear about it and add it to the documentation.

[2017-06-16 18:34] ajsb85 commented on #164
Many options: the first easy, store the token by your side.
And Travis CI can send to you a notification to run the reviewer.

[code]

[2017-06-16 18:37] ajsb85 commented on #164
Create a GitHub App (Integration) with the Pull Request permissions.

[2017-06-16 18:37] ajsb85 commented on #164
![imagen](https://user-images.githubusercontent.com/663460/27240046-9da514c6-52d3-11e7-8e30-697ffa63f937.png)

[2017-06-16 19:05] #164 closed, assigned to nobody

[2017-09-20 15:46] stefanomemrise opened #165 "any way to specify variant?"
it would be great to run gnagCheck on a specific variant.

[2017-09-20 16:15] stkent commented on #165
Good question! Currently there is no way to restrict to a specific variant. We started work on variant support a while back but didn't have time to complete it. I'll see if I can convince @btkelly to hack on it with me soon.

Duplicate of #123

[2017-09-20 16:22] stefanomemrise commented on #165
thanks! it would help a lot

[2017-09-20 16:22] #165 closed, assigned to nobody

[2017-10-26 16:52] stkent commented on #98
The issue I posted upstream was rejected without comment. 🤷‍♂️

[2017-10-26 16:53] #98 closed, assigned to nobody

[2017-10-26 20:03] dpoggi commented on #98
FindBugs development is done AFAIK, all the love goes into https://github.com/spotbugs/spotbugs

[2017-10-26 23:03] stkent commented on #98
Yeah, e.g. https://news.ycombinator.com/item?id=12885549 🤷‍♂️. Hadn't heard about spotbugs before!

[2017-10-27 11:28] dpoggi commented on #98
It's a successor fork with the intent of active maintenance. Unfortunately, they decided to require JDK 9 for running the tooling (╯°□°）╯︵ ┻━┻

EDIT: Spoke too soon, it's 8+ now. Guess somebody talked sense into them.

[2017-10-27 15:15] stkent commented on #98
![bitmoji](https://render.bitstrips.com/v2/cpanel/10217375-120874784_12-s1-v1.png?transparent=1&palette=1&width=246)

[2017-11-09 05:39] tomasbjerre commented on #150
Regarding Gitlab:

* https://github.com/jenkinsci/violation-comments-to-gitlab-plugin
* https://github.com/tomasbjerre/violation-comments-to-gitlab-maven-plugin
* https://github.com/jenkinsci/violation-comments-to-gitlab-plugin

And Bitbucket / Stash:

* https://wiki.jenkins.io/display/JENKINS/Violation+Comments+to+Bitbucket+Server+Plugin

[2017-11-16 15:44] stefanomemrise opened #167 "Support for detekt"
It would be great if Gnag could process reports from Detekt (https://github.com/arturbosch/detekt)

[2017-11-16 15:44] stefanomemrise commented on #167
duplicate

[2017-11-16 15:44] #167 closed, assigned to nobody

[2017-11-16 15:45] stefanomemrise commented on #161
any update on this?

[2017-11-16 16:01] stkent commented on #161
That pull request is ready as far as I know; @btkelly has been busy with other things, but he'll be testing the changes as part of starting a new project soon, I believe.

[2017-11-16 16:05] stefanomemrise commented on #161
amazing. looking forward to it.

[2017-11-16 18:10] stkent commented on #161
(FYI, detekt will be trickier to add than ktlint because ktlint is capable of producing output in checkstyle's report format, whereas detekt seems to use a custom output format at the moment.)

[2017-11-17 11:03] stefanomemrise commented on #161
As far as I can see also detekt produces a checkstyle similar report. For example:

[code]

[2017-11-17 13:08] stkent commented on #161
Oh, nice! That would make adding it a lot easier once 2.0.0 is available :D

[2017-11-25 17:44] runningcode opened #168 "Add support for error prone compiler?"
That would be really cool :)
http://errorprone.info
I might look in to it too.

[2017-11-25 17:54] stkent commented on #168
Duplicate of #121.

[2017-11-25 17:54] #168 closed, assigned to nobody

[2017-11-28 15:13] #161 closed, assigned to stkent

[2017-11-28 16:06] btkelly opened #169 "Gnag doesn't find report files when there is a space in the path"
When there is a space in the path to a report file such as the `checkstyle.xml` Gnag fails to locate the file.

[2017-11-28 16:15] stkent commented on #161
@stefanomemrise ktlint support is now available; please try out Gnag 2.0.0 and let us know how it works for you!

[2017-11-28 16:16] stkent opened #170 "Add detekt"

[2017-11-28 16:17] stefanomemrise commented on #161
@stkent thanks I will! - any luck with detekt?

[2017-11-28 16:20] stkent commented on #161
I added issue #170 to try detekt integration out soon :)

[2017-11-28 16:30] stefanomemrise commented on #161
amazing! thanks.

[2017-11-28 18:48] stkent opened #171 "Check out Palantir's Baseline for inspiration"
https://github.com/palantir/gradle-baseline

[2017-11-29 08:24] arturbosch commented on #170
Awesome work with gnag. I'm looking forward to have detekt included!

[2018-05-07 21:02] btkelly opened #172 "Checkout GitHub's new Checks API"
GitHub recently released it's [Checks API](https://developer.github.com/changes/2018-05-07-new-checks-api-public-beta/) for public beta. This looks pretty awesome and Gang should either update to support this or possibly become obsolete. This issue is to investigate what changes would be required or determine if Gnag should be EOL.

If we should update Gnag to support this, please add relevant iss

[2018-07-09 01:01] kdani41 opened #173 "Exception with android lint enabled - Cannot access first() element from an empty List"
**Version** - 2.0.0
**Gradle lint options**
[code]

Error log on `./gradlew clean gnagCheck --stacktrace`
[code]

[2018-07-09 03:34] kdani41 opened #174 "Unable to create a Checker: configLocation - for checkstyle"
**Version - 2.0.0**

**Background**
After looking at [this](https://github.com/checkstyle/checkstyle/issues/3951) is this something related to checkstyle version being used??

Checkstyle file used: [Google Checkstyle
](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml)

[code]

[2018-07-09 04:29] kdani41 commented on #174
### Update
After commenting these couple checkstyle rules and updating the certification path it finally works.

[code]

**CertificationPath change** -
[code]

[2018-07-09 12:49] stkent commented on #173
The failure occurs when Gnag tries to find the lint report file:  https://github.com/btkelly/gnag/blob/112f954/plugin/src/main/groovy/com/btkelly/gnag/reporters/AndroidLintViolationDetector.groovy#L107-L109

If you disable Gnag and run lint, where is your lint report file located? That information should help us diagnose the problem :)

[2018-07-09 12:51] stkent commented on #174
Can you please reply with the Gradle file contents you were using when you reproduced the error? Thanks!

[2018-07-09 12:58] kdani41 commented on #174
Here are the gradle contents
[code]

[2018-07-09 13:00] kdani41 commented on #173
Here are my lint options

[code]

[2018-07-09 15:16] stkent commented on #174
Thanks! It does indeed look like we need to upgrade the internal Checkstyle version to support newer syntax like `METHOD_REF` (relevant discussion here too: https://discuss.gradle.org/t/checkstyle-checker-cannot-be-created-with-gradle-3-5/22474/4)

[2018-07-09 15:36] stkent commented on #173
Ah; Gnag relies on the XML-format lint report file to parse lint errors, so if you enable that (by setting `xmlReport true`) you should be good to go. Try that out and let us know if it works. If it doesn't, we'll continue to triage; if it does, we can see if it's easy to produce a better error in this case :)

[2018-07-09 15:37] kdani41 commented on #174
Just a suggestion wouldn't it be better if that functionality is exposed like configuration in gnag
[code]

[2018-07-09 15:40] stkent opened #175 "Replace deprecated pegdown dependency"
https://github.com/sirthias/pegdown

Recommended replacement is https://github.com/vsch/flexmark-java

[2018-07-09 15:41] kdani41 commented on #173
Yes after changing `xmlReport true` it works :)

[2018-07-09 15:50] stkent commented on #173
Brilliant; I'll close this issue out when we decide what steps to take to help avoid this in the future!

[2018-07-09 15:52] stkent commented on #174
That's an interesting idea! The thing I'd worry about most is if checkstyle changes the format of its report file XML, our parsing code would fail to read the generated report unexpectedly. To be honest, we just need to be better about updating our internal dependencies more frequently, which would avoid both types of issue entirely. cc @btkelly I'm making some updates locally right now.

[2018-07-09 17:40] stkent commented on #102
\+ note that you shouldn't disable XML output :) See https://github.com/btkelly/gnag/issues/173

[2018-07-09 17:43] stkent opened #177 "Replace FindBugs with SpotBugs"
FindBugs looks totally dead from here. SpotBugs is the "spiritual successor".

[2018-07-09 17:45] stkent opened #178 "Convert Groovy/Java code to Kotlin?"
For the love of God, let there be TYPES!

[2018-07-09 19:08] btkelly commented on #177
Does it support Kotlin checking?

[2018-07-09 19:11] stkent commented on #177
AFAIK neither do. https://github.com/spotbugs/spotbugs/issues/573

[2018-07-10 16:44] bmunzenb opened #180 "Provide a way to specify the version of ktlint"
[ktlint](https://github.com/shyiko/ktlint) appears to be locked to an older version in the [source code](https://github.com/btkelly/gnag/blob/master/plugin/src/main/groovy/com/btkelly/gnag/GnagPlugin.groovy#L38).  Is there an easy way to override this?

[2018-07-10 17:10] stkent commented on #180
@bmunzenb relevant and recent comment r.e. the tradeoffs of allowing this: https://github.com/btkelly/gnag/issues/174#issuecomment-403527482

[2018-07-10 17:11] stkent commented on #180
Maybe we could set a default but allow overrides as a best-of-both-worlds scenario 🤔

[2018-07-10 17:35] stkent commented on #173
Closed by #179 :)

[2018-07-10 17:36] stkent commented on #173
Will be in the next release!

[2018-07-10 17:36] stkent commented on #173
Reopened until next release ships.

[2018-07-11 04:19] kdani41 opened #183 "Suppress checkstyle in xml"
**Background**
for suppressing checkstyle via xml we have to add `SupressionFilter`

[code]

**Issue**
checkstyle is not able to locate that file and I end up getting this exception

[code]

I tried many different things in `value` param even if the rule and the suppression file were in same location it's still unable to locate it.

From this [issue](https://github.com/jshiell/checkstyle-idea/issu

[2018-07-11 15:12] #175 closed, assigned to stkent

[2018-07-11 15:39] stkent commented on #183
I have a project set up working as follows:

File locations:

- `gnag-configs/checkstyle.xml`
- `gnag-configs/checkstyle-suppressions.xml`

checkstyle.xml:

[code]

checkstyle-suppressions.xml:

[code]

Based on this, I'd advise you to try the following suppression filter in your project:

[code]

or maybe (depending on your project relationships)

[code]

Let us know if either of those options wo

[2018-07-12 00:20] kdani41 commented on #183
This part works
[code]

I think for some reason it points to the root directory.
Is there any way to place it in gnag configuration in gradle??
If not feel free to close the issue. Thanks for your prompt response really appreciate your efforts & time you guys have spent building this library. 👍

[2018-07-12 18:25] stkent commented on #183
Not currently, and I don't think there are plans to support this either. Glad we were able to get this working for you though!

[2018-07-12 18:26] #183 closed, assigned to nobody

[2018-07-19 14:10] amatkivskiy commented on #170
Me too 👍  @stkent  Any updates?

[2018-07-22 17:33] stkent commented on #170
I've looked at it a couple times, but never made a serious attempt. I might have some time coming up, but not guaranteed. This is definitely something I want too though!

[2018-07-22 21:33] stkent commented on #170
From investigations: it doesn't seem like we can depend on the official detekt Gradle plugin, so the next best option is probably to depend on detekt-cli and use Java execution (as in the KtLint implementation, or as in https://github.com/arturbosch/detekt/blob/master/detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCheckTask.kt#L44-L48) to run the checks.

A simple config co

[2018-07-23 08:46] amatkivskiy commented on #170
@stkent Thanks, will have a look soon.

[2018-07-23 08:49] stkent commented on #170
Nice! I'll keep poking whenever I get time here, and report what I find too.

[2018-07-23 09:06] amatkivskiy commented on #170
@stkent  Can you please describe (or point me to the place where I can find info) on how to run the project for development process?

[2018-07-23 09:14] stkent commented on #170
@amatkivskiy AFAIK it's not documented anywhere, but the easiest way to develop locally is to run the `buildAndRun[...]Example` scripts in the root of the repo. You might want to add `--stacktrace` to the Gradle wrapper invocation inside those scripts if you run into any crashes. Since adding detekt doesn't change how we post comments to GitHub or write local reports, using those scripts should be

[2018-07-23 11:37] amatkivskiy commented on #170
@stkent Do you have any other way of communication like Slack or Gitter?
I've implemented quick POC and seems it works :)

[2018-07-23 11:43] stkent commented on #170
No other communication channel exists for this project, but if you want to open up a PR I'd be happy to take a look at and discuss your work!

[2018-07-24 07:54] amatkivskiy commented on #170
@stkent  While working on this plugin I am wondering why some of the code is in Java and the rest is on Groovy?

[2018-07-24 08:14] stkent commented on #170
No great reason, really. Java was our default language because we knew it much better, but some functionality really benefitted from Groovy stdlib stuff (like XML parsing, IIRC). Personally I'd like to move everything to Kotlin at some point (https://github.com/btkelly/gnag/issues/178).

[2018-07-29 16:47] amatkivskiy commented on #178
@stkent  Do you think of completely migrating to Kotlin (plugin code and gradle build files) or only plugin source code?

[2018-07-29 16:49] stkent commented on #178
IMO I'd prefer to start with the source code, since that's where most of the work is done => the impact would be greater. But it's @btkelly's call as to whether or not this happens, hence the 'question' label.

[2018-08-17 08:42] amatkivskiy commented on #170
@stkent any updates on when this can be released?

[2018-08-17 13:01] stkent commented on #170
@amatkivskiy it's dependent on @btkelly who is currently on his honeymoon :)

I'll check in with him when he's back in a couple weeks, see if we can get this tested and released soon!

[2018-08-27 15:23] stkent commented on #170
@amatkivskiy 2.1.0 was just released and includes detekt! Please let us know how you find it :)

[2018-08-28 13:11] stkent opened #186 "Weird lint failure on some projects in 2.1.0"
[code]

This occurs even if `lint` is not enabled in the Gnag configuration.

Running the `gnagDetekt` task directly works fine.

[2018-08-28 16:58] stkent commented on #186
Output of

[code]

is shown below. This appears to be where the guava version is being bumped?

[code]

[2018-10-04 07:08] amatkivskiy commented on #180
@stkent Hi, I am also facing issue related to the ktlint static dependency version.

[2018-10-05 21:27] stkent commented on #180
Feedback welcome on #188!

[2018-11-29 01:26] andrewgiang opened #190 "Kotlin dsl inconsistency"
GnagPluginExtension has isEnabled and setEnabled methods. This allows us to use kotlin properties in the kotlin dsl.

[code]

ReporterExtension uses isEnabled and enabled. This requires us to use the enabled(bool) method instead of kotlin properties to set the enabled value

[code]

[2018-11-29 01:56] stkent commented on #190
Is one generally preferred over the other? The assignment version feels more natural in this instance, but could the same argument be made for e.g. the reportConfig method call?

[2018-11-29 02:27] andrewgiang commented on #190
Not sure if there is a standard since this is interop code, but I would prefer assignments over using the method calls.

[2018-12-29 22:08] stkent commented on #173
This was released with either v2.0.0 or v2.1.0.

[2018-12-29 22:08] #173 closed, assigned to stkent

[2018-12-29 22:09] #170 closed, assigned to nobody

[2018-12-29 22:11] stkent commented on #180
This change shipped with v2.1.1. Closing this issue out and making a new one to consider doing the same for other embedded checkers.

[2018-12-29 22:11] #180 closed, assigned to nobody

[2018-12-29 22:15] stkent opened #192 "Allow users to override tool version whenever applicable?"
Related: #180

This seems like a good pattern to follow for other embedded tools. Should we do it?

Proposed APIs:

[code]

[2018-12-29 22:32] stkent opened #193 "Don't forcibly add jcenter to project repositories"
In `GnagPlugin.groovy`:

    project.repositories.jcenter()

This could alter how non-Gnag dependencies are resolved within the host project. Better solutions may be:

- identify cases where the embedded tools are not available within any existing repository, and prompt the user to update their own build.gradle files accordingly.

- identify cases where the embedded tools are not available within

[2019-01-02 15:54] #190 closed, assigned to stkent

[2019-01-03 19:47] stkent opened #196 "PMD has been under-reporting violations since Gnag 2.1.0"
**Steps to reproduce:**

- Check out the `v2.0.0` tag.
- Run `./buildAndRunJavaKotlinExample.sh`
- Observe this output: `PMD detected 8 violations.`
- Check out the `2.1.0` tag.
- Run `./buildAndRunJavaKotlinExample.sh`
- Observe this output: `PMD detected 0 violations.`

---

Here's the full diff between those versions:

https://github.com/btkelly/gnag/compare/v2.0.0...btkelly:2.1.0

showing that

[2019-01-03 19:53] stkent opened #197 "Add some simple regression tests"

[2019-01-04 02:40] stkent commented on #196
Here's the PMD report file (build/outputs/gnag/pmd.xml) from the fix-pmd branch as-is:

[code]

Here's the PMD report file (build/outputs/gnag/pmd.xml) from the fix-pmd branch with Checkstyle version bumped to 8.2:

[code]

[2019-01-04 02:53] stkent commented on #196
Snippets from dependency reports on fix-pmd branch (`../gradlew dependencies`), important lines marked with `<---`:

Using Checkstyle 8.1:

[code]

Using Checkstyle 8.2:

[code]

To be clear: net.sourceforge.saxon:saxon and net.sf.saxon:Saxon-HE both include classes in the same packages.

[2019-01-04 03:03] stkent commented on #196
Ok, this looks promising: https://github.com/pmd/pmd/issues/1294

[qulice](https://www.qulice.com/) is YAGC (yet another Gnag competitor) that has run into the same issue as we have.

The PMD folks have these things to say:

A later comment offers some suggestions for addressing this problem, though they are Maven-specific. It also sounds like this issue _may_ go away when PMD 7 is released, but t

[2019-01-04 03:06] stkent commented on #196
FWIW the PMD folks seem to have been a bit optimistic as to when v7 will release; right now they are ~20% of the way to their milestone (https://github.com/pmd/pmd/milestone/19).

[2019-01-04 15:22] stkent commented on #196
Forcing both PMD and Checkstyle to use the older saxon seems to work:

https://github.com/teamed/qulice/pull/924/files#diff-114c410e043b6604a613c64a6616f3b6

[I have not verified that Checkstyle does not use dynamic checks on the saxon version to enable functionality.]

@btkelly let me know if you are interested in that workaround or if you'd instead prefer to look for a more robust long-term solu

[2019-01-10 16:41] #196 closed, assigned to nobody

[2019-01-27 16:53] szaboa opened #208 "Run different tools in parallel"
Hi, I am wondering if it's possible to run these different static code analyzers in parallel? One use case would be to define distinct jobs for let's say FindBug, PMD, Android Lint etc. and execute them in parallel inside a CI workflow.

Does this make sense? Or it would help?
I assume that right know these tools doesn't share any cache or re-use partial result from each other. Am I right?

How co

[2019-01-28 05:08] stkent commented on #208
As a data point, what sort of size project are you running Gnag on, how many build variants does it have, and how long does `gnagCheck` take to run (approximately)?

In theory, I think you're right; it should be possible to run these checks in parallel and speed things up a bunch.

In practice, I don't believe the current architecture of this plugin makes that possible. Neither @btkelly or I have

[2019-01-28 07:26] szaboa commented on #208
Well this was just a theoretical question, right now I am just experimenting with different CI workflows on Android so I can't say that the current task is slow, but I am pretty sure I will use this this plugin in production apps as well. I will look into this  and do a PR if I succeed :)

[2019-01-29 02:08] stkent commented on #208
Awesome, glad to hear it! :)

[2019-02-21 13:02] szaboa commented on #208
Pull request is done, waiting some feedback there :)

[2019-02-21 13:16] stkent commented on #208
Poke @btkelly :)

[2019-03-06 17:43] szaboa commented on #208
@btkelly, @stkent ping :)

[2019-03-15 18:48] ctrevarthen opened #212 "Running gnagReport with `failOnError true` doesn't fail Jenkins builds"
### Steps to reproduce:

1. Update the `gnag` task in `build.gradle` to include `failOnError true`:

[code]

2. Edit your project to include a intentional code violation
3. Run `./gradlew clean gnagCheck` locally
4. Observe that the build fails
5. In a Jenkins PR job, set up a Gradle wrapper script to run:
[code]
    NOTE: This will run `gnagCheck` behind the scenes
6. Create a new Github pull req

[2019-03-15 18:59] btkelly commented on #212
Fixed in version 2.2.3

[2019-03-15 18:59] #212 closed, assigned to btkelly

[2019-03-30 17:35] stkent opened #214 "Update default PMD ruleset to use new format"
In version 6.X, PMD deprecated their old system of rule grouping ("rulesets") in favor of a new system ("categories"). Support for configuration files that reference rulesets will be removed in PMD 7.X. We should update our configuration files now so that we may use PMD 7 when it releases.

To perform this update, we must first decide whether to prioritize backwards compatibility for consumers, or

[2019-04-02 14:06] btkelly commented on #214
I like going with the automatic inclusion of new rules. With the original goal of Gnag being to make inclusion of multiple reporters I think going this route continues with that direction. It might be a bit of a pain when people update but they will always have the ability to customize if they want and it might be good to find new rule violations.

[2019-04-02 14:12] stkent commented on #214
Roger that, I'll work on this today!

[2019-04-02 15:09] rstockbridge opened #215 "Clarify default configuration settings"
It would be helpful to indicate what the default configurations are if you don't provide customization via the xml files. E.g., if gnag is using default versions of these xml files, include hyperlinks to them in the README. Thanks!

[2019-04-03 13:33] Batarian711 opened #220 "Logo"
I want to contribute to the project. As a volunteer. I want to design a logo. For the Readme. What do you say?

[2019-04-03 13:33] #214 closed, assigned to stkent

[2019-04-03 13:40] #215 closed, assigned to stkent

[2019-04-03 13:42] btkelly commented on #220
I love the interest in contributing. We do have somewhat of a logo already that can be found at the website http://www.gnag.watch/ but any design updates would be interesting to see. @davidklaw might be interested as he helped with the current logo and website design.

[2019-05-10 13:32] #220 closed, assigned to nobody

[2019-05-13 19:40] #163 closed, assigned to nobody

[2019-06-14 12:54] kdani41 opened #221 "Task Execution exception"
**Gradle Wrapper Version** = 5.1.1
**gnagVersion** = 2.3.0
**androidGradle** = 3.4.1

[code]
Gradle contents
[code]

[2019-07-05 08:06] jcornaz opened #222 "How to use detekt's XML report?"
Hello,

This plugin seems great, and we are eager to use it.

However, we already have detekt setup with baselines, and even custom rules we wrote ourselves.

So how can we tell Gnag to simply let our detekt plugin do its work and use the detekt XML report?

[2019-07-05 19:46] stkent commented on #222
Hi @jcornaz!

Gnag is designed to make it easy to add checkers to your project without requiring much (or any) custom configuration. As such, it is not set up to handle cases like yours (where you are providing quite a bit of custom configuration).

I see a couple options for how we could add "escape hatches" to Gnag to allow full customization of embedded tools:

1. Add a catch-all parameter to t

[2019-07-05 19:49] stkent commented on #221
Related: https://discuss.gradle.org/t/my-plugin-gets-an-incompatible-dependency-version-at-runtime/28543

[2019-07-05 20:11] jcornaz commented on #222
That's very unfortunate. I just wanted a tool to automatically comments pull requests based on the detekt's finding. It looks like Gnag is not what I was looking for.

[2019-08-08 14:29] Janani-Subbiah opened #223 "Update CONTRIBUTING.md to reference one of the available test tasks"
Currently the CONTRIBUTING.md doc mentions that we use `./buildAndRunExample.sh` as a way to test and verify changes made to gnag.
But that task does not exist and maybe we need to update those references to reference all/one of the tasks available (one of the `buildAndRun*.sh` commands).

[2019-08-08 14:31] stkent commented on #223
I'll take care of this right now!

[2019-08-08 14:41] Janani-Subbiah opened #225 "Case insensitive comparisons for AndroidLintExtensions's severity"
Currently the AndroidLintViolationDetector makes [case sensitive comparisons](https://github.com/btkelly/gnag/blob/master/plugin/src/main/groovy/com/btkelly/gnag/reporters/AndroidLintViolationDetector.groovy#L114) of AndroidLintExtension's severity levels.

Could we move this to being case insensitive? If yes, I think the documentation will also need updating to call this out.

If we decide agains

[2019-08-08 14:45] Janani-Subbiah opened #226 "Look into upgrading gnag to the latest version of java (12)"
Would it be possible to upgrade gnag to JDK 12?

This would additional testing especially for the android example according to @btkelly.

[2019-08-09 18:03] #223 closed, assigned to stkent

[2019-08-09 18:53] Janani-Subbiah opened #228 "Switch over to using Open JDK"
With Oracle moving to licensing Java releases, we could use open jdk instead of oracle's jdk. This card would keep the version of java the same (JDK 8)

[2019-08-09 19:18] #225 closed, assigned to nobody

[2019-08-09 19:35] #228 closed, assigned to nobody

[2019-09-10 16:42] bmunzenb commented on #192
The version of detekt used by Gnag was out of date, so I added this feature for that library in #230.

[2020-01-15 20:00] bmunzenb opened #233 "Gnag fails on Windows"
Gnag fails on Windows with the following error:
[code]

[2020-01-16 18:49] stkent commented on #233
Places where we hard-code a `/` as a path separator:

https://github.com/btkelly/gnag/blob/f8edff9078f59b55b7c53ed248e9957a669e6c25/plugin/src/main/groovy/com/btkelly/gnag/reporters/utils/PathCalculator.groovy#L34

https://github.com/btkelly/gnag/blob/f8edff9078f59b55b7c53ed248e9957a669e6c25/plugin/src/main/groovy/com/btkelly/gnag/utils/ProjectHelper.groovy#L57

My first suggestion would be to cha

[2020-02-15 03:59] amatkivskiy commented on #131
any updates on this, guys?

[2020-02-15 15:43] stkent commented on #131
I can have a go at writing up some documentation this weekend.

[2020-02-17 15:38] #131 closed, assigned to nobody

[2020-10-09 13:48] Fleshgrinder commented on #222
Even a trivial setup in which you just want to use `buildUponDefaultConfig = true` is not possible, basically forcing you to copy the complete detekt configuration into your repository.

[2020-11-13 04:58] kdani41 opened #237 "Could not get unknown property 'sourceSets'"
**androidGradleVersion=4.0.0
gradleWrapperVersion=6.1.1
gnagVersion=2.5.0**

I have 2 local libraries lib1, lib2 located in libs directory.

[code]

[code]

[code]

[2020-12-09 23:18] kdani41 commented on #237
not related to gnag. solution was to use `evaluationDependsOn`

[2020-12-09 23:18] #237 closed, assigned to nobody

[2021-05-17 18:29] andrewgiang commented on #226
Once projects migrate to use AGP 7.0, Android projects will be required to use JDK 11 to build applications.

https://developer.android.com/studio/preview/features#agp-7-0-jdk-11

[2021-08-02 16:29] nailshaykhraziev opened #238 "Gradle Plugin: support Gradle 7.0"
The Gnag Plugin does not work with Gradle 7.0, see logs:

[code]

[2021-08-04 18:22] btkelly commented on #238
Thanks @nailshaykhraziev ! I'll be working on updating Gang with Gradle 7 support as well as moving it off of Jcenter. I'll post here once a new version with the issues resolved is available.

[2021-08-10 20:11] #226 closed, assigned to nobody

[2021-08-10 20:11] #238 closed, assigned to nobody

[2021-08-10 20:11] #174 closed, assigned to stkent

[2021-08-10 20:11] #192 closed, assigned to nobody

[2021-08-10 20:11] #193 closed, assigned to nobody

[2021-08-10 20:11] #221 closed, assigned to nobody

[2021-08-17 18:18] btkelly commented on #238
@nailshaykhraziev Gradle 7 support has been released, version 7.1.1 is actually the new minimum. If you wanted to give version `3.0.2` a try you should be all set. If you have any issues still please let me know. This was a major version change and you can check out the major changes in the [release notes](https://github.com/btkelly/gnag/releases/tag/v3.0.0) for version `3.0.0`. I would recommend

[2021-08-18 19:21] nailshaykhraziev commented on #238
@btkelly Amazing!!!! Thanks for quick helping. Tomorrow, I will try to migrate to new major version.

[2021-08-18 21:44] nailshaykhraziev commented on #238
Hi @btkelly

Now I testing new release and have one problem:

[code]

I added only one new line on the build.gradle (project level):
[code]

After I tried different versions of applying plugin on the build.gradle(app level)(and I try without applying). I think version with
`apply plugin: 'com.btkelly.gnag'` should be right, but it's not works too((( Maybe you have some ideas for fix current issue.

[2021-08-22 14:23] btkelly commented on #238
Are you applying this to a multi module project? That error could occur if you are applying the Gnag plugin to the root Gradle file that doesn't have source files of it's own. If this is the case, you can try the instructions for this configuration in the README [here](https://github.com/btkelly/gnag#multi-module-projects). If this doesn't resolve the issue feel free to share all your project Grad

[2022-08-07 08:48] bartwell commented on #233
This problem is still presented. I know two guys faced with it when they are trying to import the same project into Android Studio. They are both using long path to directory with the project (ex. C:\Users\Ololo\Desktop\myAppName). In both cases problem has gone after they moved the directory to root of disk like a C:\myAppName. Gnag version is 3.0.3. Here is a full log:

[code]

[2022-08-10 15:54] btkelly commented on #233
@bartwell I am finally working on this, sorry for the delay, I don't use Windows machines very often. I believe I have found the issue and I'll be testing this soon. I'm busy the rest of this week but I should have a new version ready next week sometime.

[2022-08-31 18:30] btkelly commented on #233
@bartwell this should be resolved in version `3.0.4` which I just released. Let me know if you are still having issues.

[2022-08-31 18:30] #233 closed, assigned to nobody